* {
  -webkit-tap-highlight-color: transparent;
}
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 140px;
}

.container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  gap: 0;
}
.fixed-top-sec {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: white;
  width: 100%;
}

.header {
  background: #222122;
  color: white;
  padding: 2px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

/* logo */

.logo-icon {
  padding-top: 5px;
  width: 40px;
}

.logo a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.nav-menu {
  display: flex;
  padding: 10px;
  gap: 30px;
  align-items: center;
  justify-content: end;
}

.nav-menu a {
  text-decoration: none;
}

/* search */

.search-bar {
  display: flex;
  justify-content: center;
  gap: 5px;
  /* margin: 0 2rem; */
}

.search-input {
  font-size: medium;
  padding: 0.5rem;
  border: none;
  width: 400px;
  height: auto;
  outline: none;
}

.search-input::placeholder {
  color: #999999;
}

.search-icon img {
  width: 35px;
  border: none;
}

.search-icon {
  background: #e74c3c;
  width: 46px;
  height: auto;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* cart, login, admin and like */

.cart-icon img {
  width: 35px;
}
.login-icon img,
.wishlist-icon img {
  width: 25px;
}

/* .hero  */

.hero {
  background: #3498db;
  color: white;
  padding: 5px;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
}

.hero-content a {
  text-decoration: none;
  color: inherit;
  font-style: italic;
}

/* feature product  */

.featured-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 1rem 0 1rem 0;
}
.fproduct {
  background: #ecf0f1;
  padding: 1rem;
  border-radius: 0;
  text-align: center;
}

.fproduct:hover {
  background: #222122;
  color: white;
}

/* video  */

.sport-video video {
  max-width: 100%;
  display: block;
  margin: auto;
  height: 600px;
  object-fit: cover;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 0;
  font-size: 0.8rem;
}

.categories a {
  text-decoration: none;
}

.men-category,
.women-category,
.kids-category,
.footwear-category,
.jersey-category,
.socks-category {
  background: #3e3e3e;
  padding: 15px 0;
  border-radius: 0;
  text-align: center;
  color: azure;
}

.men-category:hover {
  background: #e74c3c;
}
.women-category:hover {
  background: #ffbbe1;
  color: #222122;
}
.kids-category:hover {
  background: #f5f1dc;
  color: #222122;
}
.footwear-category:hover {
  background: #73c8d2;
}
.jersey-category:hover {
  background: #ff9013;
}
.socks-category:hover {
  background: #0046ff;
}

/* company  */

.company {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 20px;
  padding: 20px;
}

.cproduct {
  width: 80px;
}

.cproduct img {
  display: block;
  width: 100%;
  height: auto;
}

/* footer */

.footer {
  background: #222122;
  color: white;
  padding: 2rem 0 2rem 0;
  text-align: center;
}

.newsletter {
  text-align: center;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  margin: 10px auto;
  max-width: 600px;
  width: 100%;
}

.newsletter-form input[type="email"] {
  height: auto;
  padding: 15px 30px;
  border: none;
  outline: none;
}

.newsletter-form input::placeholder {
  color: #999999;
}

.newsletter-form button {
  padding: 15px 30px;
  background: #e74c3c;
  color: white;
  border: none;
}
.newsletter-terms {
  font-size: 12px;
  margin: 30px 0 40px 0;
}

/* social icons  */

.socialicon img {
  width: 20px;
  height: auto;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

/* footer-links */
.footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 30px;
  border-top: 1px solid white;
}

.footer-column {
  text-align: left;
  padding: 30px;
}

.footer-column a {
  display: block;
  text-decoration: none;
  color: inherit;
  margin-bottom: 6px;
  font-size: 14px;
}

.footer-column a:hover {
  text-decoration: underline;
}

/* footer-bottom */
.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-info {
  padding: 30px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.footer-link {
  padding: 30px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.footer-link a {
  text-decoration: none;
  color: inherit;
}

/* footer-copyright  */
.footer-copyright {
  display: grid;
  grid-template-columns: auto auto;
}

.legal-links {
  align-items: center;
  text-align: left;
  padding: 20px;
}

.legal-links a {
  margin-left: 10px;
  color: inherit;
}

.footer-cards {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  align-items: center;
  gap: 10px;
}

.footer-card img {
  width: 40px;
  height: auto;
  object-fit: contain;
}

/* footer legal */
.footer-legal {
  padding: 30px 60px 0 60px;
  font-size: 14px;
  margin-bottom: 30px;
}

/* footer-last-div */

.footer-last-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-end {
  padding: 5px;
  background: #3498db;
}
.right-end {
  padding: 5px;
  background: #e74c3c;
}

/* mobile hamburger and content*/

.mobile-menu-btn {
  display: none;
  cursor: pointer;
  padding: 5px 10px;
}

.mobile-menu-overlay {
  position: fixed;
  width: 90%;
  height: 100%;
  z-index: 2000;
  display: none;
}

.mobile-menu-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  padding: 20px;
}

.mobile-login {
  border: 1px solid #2b292c;
  padding: 20px 30px;
  margin: 60px 0;
  text-align: center;
  color: inherit;
}
.mobile-login:hover {
  background: #222122;
  color: #ecf0f1;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 2px solid #222122;
}

.close-menu-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #2c3e50;
}

.mobile-categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobile-categories a {
  text-decoration: none;
}

/* for most Mobile Layout */
@media (max-width: 430px) {
  * {
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }

  .container {
    padding-top: 160px;
    max-width: 100%;
    overflow-x: hidden;
  }
  .mobile-menu-btn {
    all: unset;
    display: block;
    background: none;
    cursor: pointer;
    color: #ecf0f1;
    outline: none;
    box-shadow: none;
  }

  .mobile-menu-btn:focus {
    outline: none;
  }
  .mobile-menu-btn img {
    width: 30px;
  }

  .categories {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: 40px auto 40px;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
  }

  .logo {
    justify-self: center;
  }

  .nav-menu {
    justify-self: end;
    gap: 15px;
  }

  .search-bar {
    display: flex;
    width: 100%;
    margin: 0px 0px 10px 0px;
    order: 3;
    grid-column: 1 / -1;
  }

  .search-input {
    width: 100%;
    height: auto;
  }

  .login-icon {
    display: none;
  }

  /* video */

  .sport-video video {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }

  /* featured products */

  .featured-products {
    grid-template-columns: 1fr 1fr;
    max-width: 100vw;
    width: 100%;
  }

  .fproduct {
    display: grid;
    padding: 0.8rem 0.5rem;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }

  /* newsletter  */
  .newsletter {
    max-width: 100vw;
    width: 100%;
    padding: 0 20px;
  }

  .newsletter-form {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .newsletter-form input,
  .newsletter button {
    height: 44px;
  }

  .footer-links {
    grid-template-columns: 1fr 1fr;
  }

  .footer-bottom {
    grid-template-columns: 1fr 1fr;
  }

  .footer-info {
    display: none;
  }

  .footer-copyright {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
  }

  .footer-cards {
    margin-top: 10px;
    order: -1;
    justify-content: center;
  }

  .legal-links {
    order: 1;
    text-align: center;
  }

  /* footer legal */

  .footer-legal {
    margin-bottom: 0;
  }
}

/* for most larger mobile and smaller tablets */
@media (min-width: 431px) and (max-width: 768px) {
  .header {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    width: 100%;
  }
  .search-input {
    width: 300px;
    justify-self: center;
    margin: 0 auto;
  }
  .nav-menu {
    gap: 10px;
  }

  .categories {
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  }
}
